<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.reactsanta">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <application
      android:name=".MainApplication"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:allowBackup="false"
      android:theme="@style/AppTheme">
      <activity
        android:name=".MainActivity"
        android:label="@string/app_name"
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
        android:windowSoftInputMode="adjustResize">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>

        <intent-filter android:label="filter_deeplink_santa_http">
              <action android:name="android.intent.action.VIEW" />
              <category android:name="android.intent.category.DEFAULT" />
              <category android:name="android.intent.category.BROWSABLE" />
              <!-- Accepts URIs that begin with "https://santa-api.herokuapp.com/api -->
              <data android:scheme="https" android:host="santa-api.herokuapp.com" android:pathPrefix="/api" />
              <!-- note that the leading "/" is required for pathPrefix -->
          </intent-filter>
          <intent-filter android:label="filter_deeplink_santa_localhost">
              <action android:name="android.intent.action.VIEW" />
              <category android:name="android.intent.category.DEFAULT" />
              <category android:name="android.intent.category.BROWSABLE" />
              <!-- Accepts URIs that begin with "https://santa-local.herokuapp.com/api -->
              <data android:scheme="https" android:host="santa-local.herokuapp.com" android:pathPrefix="/api" />
          </intent-filter>
          <intent-filter android:label="filter_deeplink_santa">
              <action android:name="android.intent.action.VIEW" />
              <category android:name="android.intent.category.DEFAULT" />
              <category android:name="android.intent.category.BROWSABLE" />
              <!-- Accepts URIs that begin with "santa://fulfills -->
              <data android:scheme="santa" android:host="fulfills" />
          </intent-filter>


      </activity>
      <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" />

      <meta-data
       android:name="com.google.android.geo.API_KEY"
       android:value="AIzaSyBKeuqrNHwRk8tCw7weyDLJqME7qZURIHw" />

    </application>

</manifest>
